{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-responsive">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Price: {{ product.price }}
                    </p>
                </div>
                {#                <div class="">#}
                {#                    {{ product.description }}#}
                {#                </div>#}
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                        <li><a href="#delivery" data-toggle="tab">Delivery</a></li>
                        <li><a href="#messages" data-toggle="tab">Message</a></li>
                        <li><a href="#settings" data-toggle="tab">Setting</a></li>
                    </ul>
                    <div class="tab-content product-description-tabs">
                        <div class="tab-pane fade in active" id="description">{{ product.description }}</div>
                        <div class="tab-pane fade" id="delivery"><h3>Доставки не будет, забирайте сами</h3></div>
                        <div class="tab-pane fade" id="messages">...</div>
                        <div class="tab-pane fade" id="settings">...</div>
                    </div>
                    <div>
                        <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}
                            <div class="form-group">
                                <input type="number" class="form-control" id="nmb" name="nmb">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-buy" id="submit_btn" type="submit"
                                        data-product_id="{{ product.id }}"
                                        data-name="{{ product.name }}"
                                        data-price="{{ product.price }}"
                                >
                                    Buy
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}